
/*
bg-...

r-...

a, button, MAS

mg-...

*/

a, button, link{
    outline: none !important;
    text-decoration: none !important;
}

.r-5{
    border-radius: 5px !important;
}

.r-25{
    border-radius: 25px !important;
}